{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="container">
        <h3 class="blog-post">Talks</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="list talks">
                {{ range $i, $el := .Data.Pages.GroupByParam "group" }}
                {{ if gt (len .Pages) 0 }}
                  <h3>{{ .Key }}:</h3>
                  <ul>
                  {{ range $j, $el := .Pages.ByDate }}
                    <li style="list-style-type: circle;">
                      <h5 onclick="$('#fold_{{ $i }}_{{ $j }}').toggleClass('hidden');">
                        <a>{{ .Title | markdownify }}</a>
                      </h5>
                      <div id="fold_{{ $i }}_{{ $j }}" class="fold hidden" style="padding-bottom: 40px;">
                        <div class="fold content">
                          {{ if isset .Params "description" }}
                          {{ .Description | markdownify }}
                          {{ end }}
                          {{ if isset .Params "abstract" }}
                          <br/><strong><em>Abstract:</em></strong><br/>
                          {{ .Params.abstract | markdownify }}
                          {{ end }}
                        </div>
                        {{ if isset .Params "youtube" }}
                        <iframe
                          src="https://www.youtube.com/embed/{{ .Params.youtube }}"
                          frameborder="0"
                          width="395"
                          height="238"
                          gesture="media"
                          allowfullscreen="true"
                          mozallowfullscreen="true"
                          webkitallowfullscreen="true"
                          style="margin-left: -40px; margin-right: 10px;">
                        </iframe>
                        {{ else if (isset .Params "crowdcast") }}
                        <iframe
                          src="https://www.crowdcast.io/e/{{ .Params.crowdcast }}?navlinks=false&embed=true"
                          frameborder="0"
                          width="395"
                          height="238"
                          gesture="media"
                          allowfullscreen="true"
                          mozallowfullscreen="true"
                          webkitallowfullscreen="true"
                          style="margin-left: -40px; margin-right: 10px;">
                        </iframe>
                        {{ end }}
                        {{ if isset .Params "googleslide" }}
                        <iframe
                          src="https://docs.google.com/presentation/d/e/{{ .Params.googleslide }}/embed?start=false&loop=false&delayms=10000"
                          frameborder="0"
                          width="395"
                          height="238"
                          allowfullscreen="true"
                          mozallowfullscreen="true"
                          webkitallowfullscreen="true"
                          style="float: right;">
                        </iframe>
                        {{ end }}
                        {{ if isset .Params "slideshare" }}
                        <iframe
                          src="//www.slideshare.net/slideshow/embed_code/key/{{ .Params.slideshare }}"
                          frameborder="0"
                          width="395"
                          height="238"
                          allowfullscreen="true"
                          mozallowfullscreen="true"
                          webkitallowfullscreen="true"
                          style="float: right;">
                          </iframe>
                        {{ end }}
                        {{ if isset .Params "speakerdeck" }}
                        {{- $url := printf "https://speakerdeck.com/oembed.json?url=https://speakerdeck.com/arnaudbos/%s&maxheight=255" .Params.speakerdeck -}}
                        {{- $json := getJSON $url -}}
                        {{ $deckId := $json.html | replaceRE `.*src="//speakerdeck.com/player/([0-9a-z]*)\".*` "${1}" }}
                        <iframe
                                src="//speakerdeck.com/player/{{substr $deckId 0 -1}}"
                                frameborder="0"
                                width="395"
                                height="238"
                                allowtransparency="true"
                                allowfullscreen="allowfullscreen"
                                mozallowfullscreen="true"
                                webkitallowfullscreen="true"
                                style="border:0; padding:0; margin:0; background:transparent; float: right;">
                        </iframe>
                        {{ end }}
                      </div>
                    </li>
                  {{ end }}
                  </ul>
                {{end}}
                {{ end }}
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- Footer -->
    {{ partial "footer" . }}
  </body>
</html>
